header {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid var(--red);
    box-shadow: 0 4px 4px -2px rgba(255, 0, 0, 0.5);
}

.logo {
    width: 550px;
    height: 82px;
    object-fit: cover;
    margin-left: -115px;
}

.links {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
    color: var(--white);
    text-decoration: none;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.avatar {
    width: 70%;
    height: 82px;
    border-radius: 100%;
    object-fit: cover;
    margin: 1rem;
}

@media screen and (max-width: 768px) {
    .logo {
        width: 400px;
        margin-left: 0;
    }
    .links {
        font-size: 1.2rem;
        gap: 1rem;
    }
    .profile .avatar {
        width: 50%;
        height: 50px;
    }
}

@media screen and (max-width: 479px) {
    header {
        flex-direction: column;
        height: auto;
    }
    .logo {
        width: 100%;
        height: auto;
        margin-left: 0;
        object-fit: contain;
    }
    .links {
        flex-direction: column;
        font-size: 1rem;
        gap: 0.5rem;
    }
    .avatar {
        width: 30%;
        height: 50px;
        border-radius: none;
    }
}
